<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marlen.ventaentrades_idi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/twotickets"
        android:label="La Sala"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".llistaObres"
            android:label="La Sala"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DbHelper" />
        <activity android:name=".MyCustomAdapter" />
        <activity android:name=".afegirObra" />
        <activity android:name=".infoObra" />
        <activity android:name=".llistaFuncions" />
        <activity android:name=".MyCustomAdapterDays" />
        <activity android:name=".PatiButaques" />
        <activity android:name=".llistaCompradors" />
        <activity android:name=".infoCompra" />
        <activity android:name=".Estadistiques"></activity>
    </application>

</manifest>